html, body, *, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: var(--clr-neutral-900);
  font-family: 'Lato', sans-serif;
  transition: var(--misc-transition);
}

::selection {
  background-color: var(--clr-neutral-900-60);
  color: var(--clr-neutral-100);
}

body {
  background-color: var(--clr-neutral-100);
  font-size: 1rem;
}

h1, h2, h3, h4, h5 {
  font-weight: 900;
  font-size: 2rem;
  font-family: 'Playfair Display', serif;
}

strong {
  font-size: inherit;
  font-weight: 600;
  text-decoration: underline;
}