:root {
    --clr-neutral-900-60:#26252360;
    --clr-neutral-900:#262523;
    --clr-neutral-100:#F2EADF;
    --misc-transition: .3s cubic-bezier(0.19, 1, 0.22, 1);
    --font-family:'Playfair Display', serif;
}